.padding5 {
    padding: 5%;
}

.form {
    margin: auto;
    width: 50%;
    padding: 8%;
    padding-top: 1%;
    text-align: center;
}

.paragraph1 {
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sansserif';
    text-align: center;
    padding: 3%;
}

.text1 {
    font-size: 18px;
    text-align: left;
    padding: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sansserif';
}

.image {
    max-width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 2%;
    background-color: transparent;
}

.sidebar {
    height: 100vh;
    width: 16%;
    background-color: #4D6D9A;
    padding-top: 2%;
    position: fixed;
}

.sidebarList {
     height: 100%;
     width: 100%;
     padding: 0;
}

.sidebarList .greeting {
    width: 100%;
    height: 30px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color:  white;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidebarList .row {
    width: 100%;
    height: 100px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color:  white;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidebarList .row:hover{
    cursor: pointer;
    background-color: #5F6366;
}

.row #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title {
    flex: 70%;
}

#dashboard, #updateInventory, #checkout, #refund {
    background-color: #5F6366; 
}

.contentArea {
    max-width: max-content;
    max-height: max-content;
    background-color: transparent;
    word-break:normal;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    left: 17%;
}

.buttonGroup {
    padding: 5%;
    text-align: center;
}

.jumbotron {
    padding: 2%;
    background-color: white;
    border-radius: 3px;
}
