.padding5 {
    padding: 5%;
}

.form {
    padding-top: 10%;
    padding-bottom: 10%;
    
}
.paragraph1 {
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sansserif';
    text-align: center;
    font-weight: bold;
    padding: 3%;
}

.text1 {
    font-size: 18px;
    text-align: left;
    padding: 3%;
}

.image {
    max-width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2%;
}